[submodule "packages/acore-scripts"]
	path = packages/acore-scripts
	url = git@github.com:ahmet-cetinkaya/acore-scripts.git
[submodule "src/nfw"]
	path = src/nfw
	url = git@github.com:n-framework/nfw.git
[submodule "src/nfw-templates"]
	path = src/nfw-templates
	url = git@github.com:n-framework/nfw-templates.git
[submodule "src/core-cli-rust"]
	path = src/core-cli-rust
	url = git@github.com:n-framework/core-cli-rust.git
[submodule "src/website"]
	path = src/website
	url = git@github.com:n-framework/website.git
[submodule "src/core-template-rust"]
	path = src/core-template-rust
	url = git@github.com:n-framework/core-template-rust.git
[submodule "src/core-mediator-dotnet"]
	path = src/core-mediator-dotnet
	url = git@github.com:n-framework/core-mediator-dotnet.git
[submodule "src/core-persistence-dotnet"]
	path = src/core-persistence-dotnet
	url = git@github.com:n-framework/core-persistence-dotnet.git
